/* Scss Document */
.card-wide.mdl-card {
  width: 100%;	
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('img/welcome_card.jpg') center / cover;
}
.category-card-welcome{
	background: url('img/cat2.png') center / cover !important;
}
.add-flash-card{
	background: url('img/cat.png') center / cover !important;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}
.category-card{
	width: 100%;
}
.add-new-cat{
	position: absolute !important;
}
.mdl-menu{
	z-index: 999;
}
.mdl-card{
	margin-top: 20px !important;
}
.add-btn{
	float: right;
}